@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,600;1,400;1,600&family=JetBrains+Mono&family=Manrope:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

html {
  font-size: 10px;
}
@media (max-width: 1000px) {
  html {
    font-size: 1vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.5vw;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 2vw;
  }
}

body {
  background-color: white;
  font-size: 2rem;
  font-family: "Andada Pro", sans-serif;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
  color: #090a14;
}

.box {
  margin-left: 300px;
}
@media (max-width: 1000px) {
  .box {
    margin-left: 0;
  }
}

main {
  max-width: 100rem;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 2rem 0;
  margin: 2rem 0 1rem;
  font-family: "Manrope", sans-serif;
  line-height: 1;
  color: #151d28;
}

h1 {
  font-size: 4.2rem;
  position: relative;
}
@media (max-width: 1000px) {
  h1 {
    padding: 2rem;
  }
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2.4rem;
  font-weight: 400;
}

h6 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  font-style: italic;
  color: #577277;
  padding-top: 0;
  margin-top: 0;
}

p {
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  overflow-x: hidden;
  text-align: justify;
  line-height: 1.6;
}
@media (max-width: 1000px) {
  p {
    padding: 0.5rem 2rem;
  }
}

ol {
  list-style: none;
  counter-reset: cupcake;
  margin-left: 2rem;
}

ol > li {
  counter-increment: cupcake;
}

ol > li::before {
  content: counters(cupcake, ".") ".";
  margin-right: 0.5rem;
  color: #3c5e8b;
  font-family: "JetBrains Mono", monospace;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin-left: 2rem;
}

ul > li:before {
  content: "* ";
  margin-right: 0.5rem;
  color: #2b8435;
  font-family: "JetBrains Mono", monospace;
}

ul ul > li:before {
  content: "~ ";
}

ul ul ul > li:before {
  content: "- ";
}

li {
  line-height: 1.6;
}

img {
  width: 100%;
}
@media (max-width: 1000px) {
  img {
    width: 100vw;
    position: relative;
    left: -2rem;
  }
}

hr {
  margin: 3rem 0;
  height: 2px;
  background-color: #4f8fba;
  background-image: linear-gradient(to right, #73bed3, #a2dc6e);
}
@media (max-width: 1000px) {
  hr {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

blockquote {
  font-style: italic;
  color: #202e37;
  border-left: solid 1rem;
  border-color: #202e37;
  margin: 3rem 0;
  padding: 3rem;
}
blockquote h6 {
  text-align: right;
  position: relative;
  top: 3rem;
}

a,
a:visited {
  color: #005fa0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  border-top: 1px solid #c7cfcc;
  border-bottom: 1px solid #c7cfcc;
  max-width: 100rem;
  margin: 3rem auto;
  border-collapse: collapse;
  white-space: pre-wrap;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.6rem;
}

thead {
  border-bottom: solid 3px #c7cfcc;
  background-color: rgba(0, 0, 0, 0.03);
}

td,
th {
  border-left: 1px solid #c7cfcc;
  border-right: 1px solid #c7cfcc;
  text-align: center;
  padding: 1rem;
}

tbody tr:nth-child(2n) {
  transition-duration: 0;
  background-color: rgba(0, 0, 0, 0.03);
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blink {
  animation: blinker 1s infinite;
  position: unset;
}

aside {
  position: fixed;
  width: 300px;
  background-color: #0e1114;
  border-right: solid 1px #202e37;
  color: #d7dde8;
  font-family: Manrope, sans-serif;
  height: 100vh;
  top: 0;
  overflow-x: hidden;
}
@media (max-width: 1000px) {
  aside {
    width: 100%;
    height: fit-content;
    position: relative;
  }
}
aside h1 {
  padding: 2rem;
  color: #6c8299;
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
  margin: 0;
  width: 300px;
  font-size: 3rem;
}
@media (max-width: 1000px) {
  aside h1 {
    width: 100vw;
  }
}
aside .no-scrollbar {
  height: 100vh;
  width: 400px;
  padding: 0;
  overflow-y: scroll;
}
@media (max-width: 1000px) {
  aside .no-scrollbar {
    width: 200%;
    height: auto;
    position: relative;
  }
}
aside button {
  font-size: 1.4rem;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #0e1114;
  color: #6c8299;
  border-top: solid 1px #202e37;
  text-align: left;
  padding: 1rem 2rem;
  transition-duration: 0.2s;
}
aside .button__last {
  border-bottom: solid 1px #202e37;
}
aside button:hover,
aside button.selected {
  background-color: #1d2128;
  color: #d7dde8;
  cursor: pointer;
}
aside span {
  position: relative;
  top: -0.6rem;
}
aside i {
  width: 40px;
  font-size: 3rem;
}
aside .articles {
  margin: 0;
  margin-top: 2rem;
  padding: 1rem;
  width: 300px;
}
@media (max-width: 1000px) {
  aside .articles {
    display: none;
  }
}
aside .articles button {
  padding: 0;
  border: solid 1px #4c566a;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  height: 120px;
  margin-bottom: 1rem;
  background-size: cover;
  background-position: center;
  position: relative;
  vertical-align: bottom;
  color: white;
  opacity: 0.8;
}
aside .articles button span {
  display: block;
  background-image: linear-gradient(#00000000, #000000);
  width: 100%;
  position: absolute;
  bottom: 0;
  top: auto;
  padding: 4rem 1rem 1rem 1rem;
  font-weight: 400;
}
aside .articles button:hover {
  border-color: #7c879c;
  opacity: 1;
}
aside li::before {
  content: "";
}

.menu__expand {
  position: absolute;
  right: 20px;
  width: auto;
  display: none !important;
}
.menu__expand:hover {
  color: #d7dde8;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .menu__expand {
    display: inline-block !important;
  }
}

@media (max-width: 1000px) {
  .mobile-hidden {
    display: none;
  }
}
code,
code[class*=language-] {
  font-family: "JetBrains Mono", monospace;
  text-shadow: none;
  color: #394a50;
  white-space: pre-wrap;
}

code {
  font-size: 1.8rem;
  color: #394a50;
  background-color: #f5f5f5;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
}

pre > code,
pre > code[class*=language-] {
  font-size: 1.4rem;
  background-color: transparent;
  padding: 0;
}

pre,
pre[class*=language-] {
  background: #f5f5f5;
  line-height: unset;
  margin: 3rem auto;
  padding: 1em;
}

pre,
pre[class*=language-sh] {
  background: #1d2128;
}

pre code,
pre code[class*=language-sh] {
  color: #a8b5b2;
}

.token.operator,
.token.entity,
.token.url,
.token.string {
  background: none;
}

.token.function {
  color: #35764e;
}

.token.keyword {
  color: #3485bb;
}

.token.operator {
  color: #3c5e8b;
}

.token.constant {
  color: #7a4841;
}

.token.boolean,
.token.number {
  color: #ad7757;
}

.token.string {
  color: #75a743;
}

.token.regex {
  color: #c65197;
}

.token.class-name {
  color: #a23e8c;
}
