<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/themes/prism.css"
    />
    <link rel="stylesheet" href="/styles/common.css" />
    <link rel="stylesheet" href="/styles/post.css" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
  </head>
  <body>
    <aside>
      <ul>
        <li><i class="las la-home"></i> HOME</li>
        <li><i class="las la-user-circle"></i> ABOUT</li>
        <li><i class="las la-pencil-ruler"></i> PROJECTS</li>
        <li><i class="las la-pen-alt"></i> ARTICLES</li>
        <ul>
          <li>
            <a href="/blog/functional-multimethods">Functional multimethods</a>
          </li>
          <li>
            <a href="/blog/hello-world">Hello World</a>
          </li>
          <li>
            <a href="/blog">more...</a>
          </li>
        </ul>
      </ul>
    </aside>
    <div class="box">
      <header style="background-image: url({image})">
        <h1>{title}</h1>
        <h2>{date}</h2>
        <span>{imageInfo}</span>
      </header>
      <main>{content}</main>
      <footer>
        <script
          src="https://utteranc.es/client.js"
          repo="caderek/caderek.github.io"
          issue-term="pathname"
          label="comments"
          theme="github-light"
          crossorigin="anonymous"
          async
        ></script>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/components/prism-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.25.0/plugins/autoloader/prism-autoloader.min.js"></script>
  </body>
</html>
