@font-face {
    font-family: "icons";
    src: url("./icons.ttf?a10895665d2a2343ead09ecb2e6b2f36") format("truetype"),
url("./icons.woff?a10895665d2a2343ead09ecb2e6b2f36") format("woff"),
url("./icons.woff2?a10895665d2a2343ead09ecb2e6b2f36") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: "\f101";
}
.icon-mode-dark:before {
    content: "\f102";
}
.icon-mode-light:before {
    content: "\f103";
}
.icon-npm:before {
    content: "\f104";
}
